@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.exercise-card {
    background-color: #272626;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.exercise-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9731A;
    padding-bottom: 12px;
}

.remove-exercise-btn {
    background: none;
    border: none;
    color: #aaaaaa;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.remove-exercise-btn:hover {
    color: #a53225;
}

.exercise-name {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
}

.sets-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.set-input {
    width: 100%;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 6px 8px;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
}

.set-input:focus {
    outline: none;
    border-color: #D9731A;
}

.sets-table th {
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #D9731A;
    text-align: left;
    padding: 8px 12px;
    border-bottom: 1px solid #333;
}

.sets-table td {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color: #d8d7d7;
    padding: 10px 12px;
    border-bottom: 1px solid #1e1e1e;
}

.sets-table tr:last-child td {
    border-bottom: none;
}

.sets-table th:last-child,
.sets-table td:last-child {
    width: 15px;
    text-align: center;
}

.sets-table tr:hover td {
    background-color: #2f2f2f;
}

.add-set-btn {
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1a1a1a;
    cursor: pointer;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.2s;
}


.add-set-btn:hover {
    background-color: #D9731A;
    color: #ffffff;
    border: 1px solid #D9731A;
}

.remove-set-btn {
    background: none;
    border: none;
    color: #aaaaaa;
    cursor: pointer;
    font-size: 12px;
    transition: color 0.2s;
}

.remove-set-btn:hover {
    color: #D9731A;
}
