@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.workout-card {
    background-color: #272626;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.workout-card h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 2px;
    border-bottom: 1px solid #D9731A;
    padding-bottom: 12px;
    text-align: center;
}

.workout-card-exercises {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.workout-card-exercises p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #d8d7d7;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.view-btn {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #d8d7d7;
    transition: all 0.2s;
    width: 100%;
}

.view-btn:hover {
    background-color: #D9731A;
    border-color: #D9731A;
    color: #ffffff;
}